<a href="https://colab.research.google.com/github/SpandanJogannagari/Machine-Learning-Homeworks/blob/main/ML_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
!pip install surprise

Requirement already satisfied: surprise in /usr/local/lib/python3.7/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (from surprise) (1.1.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)

In [72]:
import pandas as pd
import numpy as np
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD
from surprise import KNNBasic
from surprise import NMF
from surprise import NormalPredictor

from surprise import accuracy
from surprise.model_selection import train_test_split

from surprise.model_selection import KFold, cross_validate

import warnings; warnings.simplefilter('ignore')
from surprise.model_selection import GridSearchCV
from collections import defaultdict
import matplotlib.pyplot as plt

In [73]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [74]:
credits_df=pd.read_csv('/content/drive/MyDrive/ML_Project/credits.csv')
keywords_df=pd.read_csv('/content/drive/MyDrive/ML_Project/keywords.csv')
links_df=pd.read_csv('/content/drive/MyDrive/ML_Project/links.csv')
MovieData_df=pd.read_csv('/content/drive/MyDrive/ML_Project/movies_metadata.csv')
Ratings_df=pd.read_csv('/content/drive/MyDrive/ML_Project/ratings.csv')

In [75]:
credits_df.head()

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862

[5 rows x 3 columns]

In [76]:
Ratings_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [77]:
MovieData_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [78]:
MovieData_df.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

Removing Unecessary columns

In [79]:
MovieData_df.drop(['homepage','video'],1)

       adult  ... vote_count
0      False  ...     5415.0
1      False  ...     2413.0
2      False  ...       92.0
3      False  ...       34.0
4      False  ...      173.0
...      ...  ...        ...
45461  False  ...        1.0
45462  False  ...        3.0
45463  False  ...        6.0
45464  False  ...        0.0
45465  False  ...        0.0

[45466 rows x 22 columns]

In [80]:
def convert_int(x):
  try:
    return int(x)
  except:
    return np.nan

In [81]:
MovieData_df['id']=MovieData_df['id'].apply(convert_int)
keywords_df['id']=keywords_df['id'].apply(convert_int)
credits_df['id']=credits_df['id'].apply(convert_int)

Checking if we have any null data

In [82]:
def check_missing(data_df):
    total = data_df.isnull().sum().sort_values(ascending = False)
    percent = (data_df.isnull().sum()/data_df.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total, percent], axis=1, keys=['Total', 'Percent']).transpose()

check_missing(Ratings_df)

         timestamp  rating  movieId  userId
Total          0.0     0.0      0.0     0.0
Percent        0.0     0.0      0.0     0.0

In [83]:
check_missing(credits_df)

          id  crew  cast
Total    0.0   0.0   0.0
Percent  0.0   0.0   0.0

In [84]:
check_missing(keywords_df)

         keywords   id
Total         0.0  0.0
Percent       0.0  0.0

In [85]:
check_missing(links_df)

           tmdbId  imdbId  movieId
Total    8.000000     0.0      0.0
Percent  0.082119     0.0      0.0

In [86]:
check_missing(MovieData_df)

         belongs_to_collection      homepage  ...  budget  adult
Total             40972.000000  37684.000000  ...     0.0    0.0
Percent              90.115691     82.883913  ...     0.0    0.0

[2 rows x 24 columns]

In [87]:
MovieData_df.dropna(subset=['title'], inplace=True)
check_missing(MovieData_df)

         belongs_to_collection      homepage       tagline  ...  title  video  adult
Total             40970.000000  37682.000000  25048.000000  ...    0.0    0.0    0.0
Percent              90.123185     82.890453     55.098988  ...    0.0    0.0    0.0

[2 rows x 24 columns]

Adding Year column to the data

In [88]:
MovieData_df['year'] = pd.to_datetime(MovieData_df['release_date'], errors='coerce').apply(
    lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [89]:
MovieData_df.drop(['release_date'],1)

       adult  ...  year
0      False  ...  1995
1      False  ...  1995
2      False  ...  1995
3      False  ...  1995
4      False  ...  1995
...      ...  ...   ...
45461  False  ...   NaT
45462  False  ...  2011
45463  False  ...  2003
45464  False  ...  1917
45465  False  ...  2017

[45460 rows x 24 columns]

In [90]:
MovieData_df[MovieData_df['id'].isnull()]

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count, year]
Index: []

Demographic Filtering

In [91]:

MovieData_df['genres'] = MovieData_df['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i[
    'name'] for i in x] if isinstance(x, list) else [])

In [92]:
v_Count=MovieData_df[MovieData_df['vote_count'].notnull()]['vote_count'].astype('int')
v_Avg =MovieData_df[MovieData_df['vote_average'].notnull()]['vote_average'].astype('int')
M_Vote=v_Avg.mean()
M_Vote

5.244896612406511

In [93]:
Min_Vote=v_Count.quantile(0.95)
Min_Vote

434.0

In [94]:
qualified = MovieData_df[(MovieData_df['vote_count'] >= Min_Vote) & 
               (MovieData_df['vote_count'].notnull()) & 
               (MovieData_df['vote_average'].notnull())][['title', 
                                                'year', 
                                                'vote_count', 
                                                'vote_average', 
                                                'popularity', 
                                                'genres']]

qualified['vote_count'] = qualified['vote_count'].astype('int')
qualified['vote_average'] = qualified['vote_average'].astype('int')
qualified.shape

(2274, 6)

In [95]:
def weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+Min_Vote) * R) + (Min_Vote/(Min_Vote+v) * M_Vote)

In [96]:
qualified['wr'] = qualified.apply(weighted_rating, axis=1)

In [97]:
qualified = qualified.sort_values('wr', ascending=False).head(250)

In [98]:
qualified.head(15)

                                                   title  ...        wr
15480                                          Inception  ...  7.917588
12481                                    The Dark Knight  ...  7.905871
22879                                       Interstellar  ...  7.897107
2843                                          Fight Club  ...  7.881753
4863   The Lord of the Rings: The Fellowship of the Ring  ...  7.871787
292                                         Pulp Fiction  ...  7.868660
314                             The Shawshank Redemption  ...  7.864000
7000       The Lord of the Rings: The Return of the King  ...  7.861927
351                                         Forrest Gump  ...  7.860656
5814               The Lord of the Rings: The Two Towers  ...  7.851924
256                                            Star Wars  ...  7.834205
1225                                  Back to the Future  ...  7.820813
834                                        The Godfather  ...  7.814847
1154                             The Empire Strikes Back  ...  7.814099
46                                                 Se7en  ...  7.811669

[15 rows x 7 columns]

Filtering based on genre

In [99]:
s = MovieData_df.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genre'
mov_genres = MovieData_df.drop('genres', axis=1).join(s)
mov_genres.head().transpose()

                                                                       0  ...                                                  1
adult                                                              False  ...                                              False
belongs_to_collection  {'id': 10194, 'name': 'Toy Story Collection', ...  ...                                                NaN
budget                                                          30000000  ...                                           65000000
homepage                            http://toystory.disney.com/toy-story  ...                                                NaN
id                                                                   862  ...                                               8844
imdb_id                                                        tt0114709  ...                                          tt0113497
original_language                                                     en  ...                                                 en
original_title                                                 Toy Story  ...                                            Jumanji
overview               Led by Woody, Andy's toys live happily in his ...  ...  When siblings Judy and Peter discover an encha...
popularity                                                       21.9469  ...                                            17.0155
poster_path                             /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...                   /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
production_companies      [{'name': 'Pixar Animation Studios', 'id': 3}]  ...  [{'name': 'TriStar Pictures', 'id': 559}, {'na...
production_countries   [{'iso_3166_1': 'US', 'name': 'United States o...  ...  [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                  1995-10-30  ...                                         1995-12-15
revenue                                                      3.73554e+08  ...                                        2.62797e+08
runtime                                                               81  ...                                                104
spoken_languages                [{'iso_639_1': 'en', 'name': 'English'}]  ...  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
status                                                          Released  ...                                           Released
tagline                                                              NaN  ...          Roll the dice and unleash the excitement!
title                                                          Toy Story  ...                                            Jumanji
video                                                              False  ...                                              False
vote_average                                                         7.7  ...                                                6.9
vote_count                                                          5415  ...                                               2413
year                                                                1995  ...                                               1995
genre                                                          Animation  ...                                            Fantasy

[25 rows x 5 columns]

In [100]:
def build_chart(genre, percentile=0.85):
    df = mov_genres[mov_genres['genre'] == genre]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    
    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & 
                   (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: 
                        (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C),
                        axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    
    return qualified

In [101]:
build_chart('Romance').head(15)

                             title  year  ...  popularity        wr
10309  Dilwale Dulhania Le Jayenge  1995  ...      34.457  8.565285
351                   Forrest Gump  1994  ...     48.3072  7.971357
876                        Vertigo  1958  ...     18.2082  7.811667
40251                   Your Name.  2016  ...   34.461252  7.789489
883               Some Like It Hot  1959  ...     11.8451  7.745154
1132               Cinema Paradiso  1988  ...      14.177  7.744878
19901                     Paperman  2012  ...     7.19863  7.713951
37863                  Sing Street  2016  ...   10.672862  7.689483
882                  The Apartment  1960  ...     11.9943  7.599317
38718               The Handmaiden  2016  ...   16.727405  7.566166
3189                   City Lights  1931  ...     10.8915  7.558867
24886             The Way He Looks  2014  ...     5.71127  7.331363
45437               In a Heartbeat  2017  ...    20.82178  7.003959
1639                       Titanic  1997  ...     26.8891  6.981546
19731      Silver Linings Playbook  2012  ...     14.4881  6.970581

[15 rows x 6 columns]

In [102]:
links_df = links_df[links_df['tmdbId'].notnull()]['tmdbId'].astype('int')

In [103]:
MovieData_df['id'] = MovieData_df['id'].apply(convert_int)

In [104]:
MovieData_df['id'] = MovieData_df['id'].astype('int')

In [105]:
smd = MovieData_df[MovieData_df['id'].isin(links_df)]
smd.shape

(9553, 25)

**Content based recommendation system : Using movie description and taglines**

In [106]:
smd['tagline'] = smd['tagline'].fillna('')
smd['description'] = smd['overview'] + smd['tagline']
smd['description'] = smd['description'].fillna('')

In [107]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])

In [108]:
tfidf_matrix.shape

(9553, 276438)

In [109]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [110]:
cosine_sim1 = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [111]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])
indices.head(2)

title
Toy Story    0
Jumanji      1
dtype: int64

In [112]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [113]:
get_recommendations("Toy Story").head(10)

2352               Toy Story 2
7336               Toy Story 3
5958    The 40 Year Old Virgin
2389           Man on the Moon
6405              Factory Girl
4452    What's Up, Tiger Lily?
839      Rebel Without a Cause
6327    For Your Consideration
4760          Rivers and Tides
9172      Welcome to Happiness
Name: title, dtype: object

In [114]:
get_recommendations('The Dark Knight').head(10)

7745                      The Dark Knight Rises
126                              Batman Forever
1058                             Batman Returns
7361                 Batman: Under the Red Hood
509                                      Batman
8056    Batman: The Dark Knight Returns, Part 2
9412                      The Lego Batman Movie
7710                           Batman: Year One
5620         Batman Beyond: Return of the Joker
2523                                        JFK
Name: title, dtype: object

In [115]:
keywords_df['id'] = keywords_df['id'].astype('int')
credits_df['id'] = credits_df['id'].astype('int')
MovieData_df['id'] = MovieData_df['id'].astype('int')

In [116]:
MovieData_df = MovieData_df.merge(credits_df, on='id')
MovieData_df = MovieData_df.merge(keywords_df, on='id')

In [117]:
smd = MovieData_df[MovieData_df['id'].isin(links_df)]
smd.shape

(9657, 28)

We now have our cast, crew, genres and credits, all in one dataframe. Let us wrangle this a little more using the following intuitions:

1. Crew: From the crew, we will only pick the director as our feature since the others don't contribute that much to the feel of the movie.

2. Cast: Choosing Cast is a little more tricky. Lesser known actors and minor roles do not really affect people's opinion of a movie. Therefore, we must only select the major characters and their respective actors. Arbitrarily we will choose the top 3 actors that appear in the credits list.

In [118]:
smd['cast'] = smd['cast'].apply(literal_eval)
smd['crew'] = smd['crew'].apply(literal_eval)
smd['keywords'] = smd['keywords'].apply(literal_eval)
smd['cast_size'] = smd['cast'].apply(lambda x: len(x))
smd['crew_size'] = smd['crew'].apply(lambda x: len(x))

In [119]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [120]:
smd['director'] = smd['crew'].apply(get_director)
smd['cast'] = smd['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)
smd['keywords'] = smd['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

Approach to building the recommender is going to be extremely hacky.

What I plan on doing is creating a metadata dump for every movie which consists of genres, director, main actors and keywords.

I then use a Count Vectorizer to create our count matrix

The remaining steps are similar to what we did earlier: we calculate the cosine similarities and return movies that are most similar.

These are steps I follow in the preparation of my genres and credits data:

Strip Spaces and Convert to Lowercase from all our features. This way, our engine will not confuse between Johnny Depp and Johnny Galecki.
Mention Director 2 times to give it more weight relative to the entire cast.

In [121]:
smd['cast'] = smd['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])
smd['director'] = smd['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smd['director'] = smd['director'].apply(lambda x: [x,x, x])

In [122]:
s = smd.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'
s = s.value_counts()
s[:5]

independent film        613
woman director          573
murder                  398
based on novel          336
duringcreditsstinger    330
Name: keyword, dtype: int64

In [123]:
s = s[s > 1]

In [124]:
stemmer = SnowballStemmer('english')
stemmer.stem('dogs')

'dog'

In [125]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [126]:
smd['keywords'] = smd['keywords'].apply(filter_keywords)
smd['keywords'] = smd['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [127]:
smd['soup'] = smd['keywords'] + smd['cast'] + smd['director'] + smd['genres']
smd['soup'] = smd['soup'].apply(lambda x: ' '.join(x))

In [128]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(smd['soup'])

In [129]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [130]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [131]:
get_recommendations('The Dark Knight').head(10)

7811         The Dark Knight Rises
5963                 Batman Begins
6375                  The Prestige
1956                     Following
9631                       Dunkirk
3865                      Insomnia
7419                     Inception
3149                       Memento
8414                  Interstellar
7427    Batman: Under the Red Hood
Name: title, dtype: object

In [132]:
get_recommendations("Toy Story").head(10)

6141              Luxo Jr.
2365           Toy Story 2
7684                Cars 2
6256                  Cars
1768          A Bug's Life
7402           Toy Story 3
2572     Creature Comforts
7355    Kronk's New Groove
3589        Monsters, Inc.
6893             Dead Fury
Name: title, dtype: object

In [133]:
def improved_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year']]
    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & 
                       (movies['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(weighted_rating, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    return qualified

In [134]:
improved_recommendations('Toy Story')

                   title  vote_count  vote_average  year        wr
3589      Monsters, Inc.        6150             7  2001  6.884308
7402         Toy Story 3        4710             7  2010  6.851922
2365         Toy Story 2        3914             7  1999  6.824813
8395      The Lego Movie        3127             7  2014  6.786095
6256                Cars        3991             6  2006  5.925940
1768        A Bug's Life        2379             6  1998  5.883500
6294       Monster House         912             6  2006  5.756527
586     Oliver & Company         372             6  1988  5.593406
7355  Kronk's New Groove         233             6  2005  5.508673
7684              Cars 2        2088             5  2011  5.042143

Collaborative Filtering

In [135]:
reader = Reader();

In [136]:
data = Dataset.load_from_df(Ratings_df[['userId', 'movieId', 'rating']], reader)

In [137]:
benchmark = []
# Iterate over all algorithms
for algorithm in [SVD(), NMF(), NormalPredictor(), KNNBasic()]:
    # Perform cross validation
    results = cross_validate(algorithm, data, measures=['RMSE'], cv=5, verbose=False)
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]],index=['Algorithm']))
    benchmark.append(tmp)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.

In [138]:
surprise_results = pd.DataFrame(benchmark).set_index('Algorithm').sort_values('test_rmse')
surprise_results

                 test_rmse  fit_time  test_time
Algorithm
SVD               0.896974  5.186346   0.275483
NMF               0.948973  6.754378   0.204920
KNNBasic          0.967845  0.186464   1.923007
NormalPredictor   1.434566  0.170673   0.267979

In [139]:
data1 = Dataset.load_from_df(Ratings_df[['userId', 'movieId', 'rating']], reader)

In [ ]:
param_grid = {'n_factors': [25, 30, 35, 40], 'n_epochs': [15, 20, 25], 'lr_all': [0.001, 0.003, 0.005, 0.008],
              'reg_all': [0.08, 0.1, 0.15]}
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=5)
gs.fit(data1)
algo = gs.best_estimator['rmse']
print("RMSE:",gs.best_score['rmse'])
print(gs.best_params['rmse'])

#Assigning values
t = gs.best_params
factors = t['rmse']['n_factors']
epochs = t['rmse']['n_epochs']
lr_value = t['rmse']['lr_all']
reg_value = t['rmse']['reg_all']

In [ ]:
#data = Dataset.load_builtin('ml-100k')
trainset = data.build_full_trainset()   #Build on entire data set
algo = SVD(n_factors=factors, n_epochs=epochs, lr_all=lr_value, reg_all=reg_value)
algo.fit(trainset)

# Predict ratings for all pairs (u, i) that are NOT in the training set.
testset = trainset.build_anti_testset()

#Predicting the ratings for testset
predictions = algo.test(testset)

In [ ]:
algo.predict(1,302)


*   For movie with ID 302, we get an estimated prediction of 2.686. One startling feature of this recommender system is that it doesn't care what the movie is (or what it contains). It works purely on the basis of an assigned movie ID and tries to predict ratings based on how the other users have perceive the movie.



**Hybrid recommendation system**


1.   In this section, will try to build a simple hybrid recommender that brings together techniques we have implemented in the content based and collaborative filter based engines. This is how it will work:

2.  Input: User ID and the Title of a Movie
3. Output: Similar movies sorted on the basis of expected ratings by that particular user.

In [ ]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [ ]:
id_map =pd.read_csv('/content/drive/MyDrive/ML_Project/links.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']
id_map = id_map.merge(smd[['title', 'id']], on='id').set_index('title')
#id_map = id_map.set_index('tmdbId')

In [ ]:
indices_map = id_map.set_index('id')

In [ ]:
def hybrid(userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    movie_id = id_map.loc[title]['movieId']
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'release_date', 'id']]
    movies['est'] = movies['id'].apply(lambda x: algo.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(10)

In [ ]:
hybrid(1, 'Toy Story')

In [ ]:
X=[]
rmse=[]
for i in range(5,60,5):
  param_grid = {'n_factors': [i], 'n_epochs': [15, 20, 25], 'lr_all': [0.001, 0.003, 0.005, 0.008],
              'reg_all': [0.08, 0.1, 0.15]}
  gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=5)
  gs.fit(data1)
  X.append(i)
  rmse.append(gs.best_score['rmse'])

fig, p = plt.subplots()
p.plot(X, rmse, label="RMSE")
p.set_xlabel("Num Of Factors")
p.set_ylabel("RMSE")
p.legend()
plt.title("RMSE for Hybrid Model by Varing Number of Factors")
plt.show()